<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Michal Piesiewicz's personal site & CV.">
  <meta name="keywords" content="Python, Michal, Piesiewicz">
  <meta name="author" content="Michał Piesiewicz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Michał Piesiewicz</title>

  <link rel="stylesheet" href="static/styles.css" media=screen>
  <link rel="stylesheet" type="text/css" href="static/print.css" media="print">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=DM+Mono:wght@500&family=Open+Sans:wght@300&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>

<body>

  <div class="print-header">
    <p>printed from
    <a href="https://mpiesiewicz.github.io/cv/">mpiesiewicz.github.io/cv</a></p>
    <p>visit the site for live version</p>
  </div>

  <div class="top-container">
    <img class='top-cloud' src="static/cloud.png" alt="cloud-img">
    <h2 class='first-header'>Hello, I'm</h2>
    <h1>Michał Piesiewicz</h1>
    <p class=sub-header>a software developer.</p>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud-img">
    <img class='mountain' src="static/mountain.png" alt="mountain-img">
  </div>

  <div class='hello-container'>
    <h2>Dear headhunter!</h2>
    <p>  I'm now <strong>open for hire</strong> for junior positions! Please find my résumé down below. The page is <strong>print-friendly</strong>, but if you encounter any problems, make sure you use Chrome browser and drop me a note on LinkedIn. </p>
	  <p>  Please notice that my Python Bootcamps are still in progress, and the information included here will be fully valid since <strong>July<strong>.</p>
    <p class='ty'><em>Thank you!</em></p>
  </div>

  <hr>

  <div class="middle-container">

    <div class="bio-exp">
      <div class="bio">
        <h2 class='experience-header'>My bio</h2>
        <p>I began to work as a Business Analyst in 2018 for Carlson Wagonlit Travel, where I've quickly discovered my passion for programming, process automation, and database development. </p>
        <p>I started post-graduate database studies in 2019 at the Warsaw University of Life Sciences to learn more about SQL and relational DBs. At the time, I was also learning the Python language for process automation and Visual Basic for Application (VBA), to provide quick solutions and tools for my office colleagues.</p>
        <p>In 2021 I joined Accrowell, an account solution providing company, to open a project for Polish Air Navigation Services Agency (PANSA). The project aimed to support the accounting, planning, and controlling teams to implement the ERP system in the future. My role as a Business Analyst was to back up the team with all the technical issues. </p>
        <p>In Feb 2022 I have left the BA role behind and focused on Software Development only. I joined PythON: Academy Bootcamp by infoShare, as well as 100 Days of Code - Python Pro Bootcamp by Dr. Angela Yu, which is now in progress.</p>
        <p>Today I'm a Python Developer in Warsaw, passionate about process automation, interested in Machine Learning and Backend Web-Development. Linux and Open Source enthusiast.</p>
      </div>

      <div class='experience'>
        <h2 class='experience-header'>Experience</h2>
        <div class="exp-box">
          <h4 class='date-exp'>Mar 2021 - Jan 2022</h4>
          <div class='info-exp'>
            <h3>BUSINESS ANALYST at Accrowell</h3>
            <h4>Contract for Polish Air Navigation Services Agency</h4>
            <p class='info-exp-text'>As a member of a small, highly specialized team outsourced to PANSA, I was responsible for the technical side of the project - collecting and managing data from all available sources, parsing, rapid database development, and quick, ad-hoc analysis. I was also supporting the financial team in IT solutions, maintaining and expanding existing tools.</p>
          </div>
        </div>

          <div class="exp-box">
            <h4 class='date-exp'>Dec 2018 - Feb 2021</h4>
            <div class='info-exp'>
              <h3>JUNIOR BUSINESS ANALYST at Carlson Wagonlit Travel</h3>
              <p class='info-exp-text'>Working in the Global FP&A team brought my skills to another level since reporting, report development, and automating tasks with VBA became my daily routine. I've added relational databases, SQL, and data processing to my stack, learned Python fundamentals on my own, together with data science tools like Pandas, Numpy and Jupyter Notebook.</p>
            </div>
          </div>

          <div class="exp-box">
            <h4 class='date-exp'>Apr 2017 - Nov 2018</h4>
            <div class='info-exp'>
              <h3>SCHEDULER / CLIENT ADMINISTRATOR FOR LARGE INTERNATIONAL CONTRACTS at Bureau Veritas HUB Poland</h3>
              <p class='info-exp-text'>While my main tasks were to schedule and organize audits for one of the strategic clients, I also developed a planning tool in MS Excel to speed up the process and created an automated reporting mechanism with VBA, which saved around 4h of manual work per week. Even though scheduling was not IT-related, I've learned all about key-customer service, communication, delivering on time, and relationship management which I believe is crucial in software development.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr>

    <div class="pagebreak"> </div>

    <div class="print-header">
      <p>printed from
      <a href="https://mpiesiewicz.github.io/cv/">mpiesiewicz.github.io/cv</a></p>
      <p>visit the site for live version</p>
    </div>

    <h2>Skills</h2>

    <div class='skills'>

      <div class="skills-row-left">

        <img class="skill-icon" src="static/listen-actively.png" alt="">

        <div class="skill-box">
          <h3>Soft skills</h3>
          <p>Effective communication</p>
          <p>Excellent Customer Service Skills</p>
          <p>Analytical thinking</p>
          <p>Interpersonal and teamwork skills</p>
          <p>Collaborative and participatory style of working</p>
          <p>Creativity / Design</p>
          <p>Positive Attitude</p>
          <p>Willing to accept feedback</p>
        </div>
      </div>

      <div class="skills-row-right">

        <img class="skill-icon" src="static/project-management.png" alt="">

        <div class="skill-box">
          <h3>Technical skills</h3>
          <p>Coding and scripting skills in Python 3</p>
          <p>Understanding of Object Oriented Programming paradigm</p>
          <p>Understanding of front-end technologies (HTML5, CSS3)</p>
          <p>Commercial experience in database development and languages: T-SQL, Jet-SQL, PL/pgSQL</p>
          <p>Experience working with GIT version control system	</p>
          <p>Coding and scripting skills in Visual Basic</p>
          <p>Linux, Windows operating systems	</p>
        </div>

      </div>

      <div class="skills-row-left">

        <img class="skill-icon" src="static/user-experience.png" alt="">

        <div class="skill-box">
          <h3>Frameworks, Tools and Libraries</h3>
          <p>Selenium 4</p>
          <p>BeautifulSoup</p>
          <p>Django (in progress)</p>
          <p>Jira</p>
          <p>Confluence</p>
          <p>Pycharm</p>
          <p>Atom</p>
          <p>Jupyter Notebook</p>
        </div>

      </div>

    </div>

    <hr>

    <div class='education'>
    <h2>Education</h2>

    <h3>Academic</h3>
      <ul>
        <li>DATABASES POSTGRADUATE COURSE Warsaw University of Life Sciences September 2018 - May 2019</li>
        <li>MA BUSINESS MANAGEMENT Warsaw University of Life Sciences September 2016 - July 2018</li>
        <li>BA BUSINESS MANAGEMENT Warsaw University of Life Sciences September 2013 - June 2016</li>
        <li>B. Prus’ XXXV High School in Warsaw - bilingual profile</li>
      </ul>
    <h3>Certifications</h3>
      <ul>
        <li>PythON: Academy Bootcamp (infoShare Academy) - in progress</li>
        <li>100 Days of Code: The Complete Python Pro Bootcamp for 2022 - in progress</li>
        <li>Elements of AI course (University of Helsinki) - 2019</li>
      </ul>
    </div>

    <hr>

    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>It's easiest to catch me on LinkedIn,</h3>
      <p>and if you want me to reply quicker, ask me about my <a class="footer-link" href="https://www.youtube.com/watch?v=3_d4xK22bCI">band</a>.</p>
      <br>
      <a class="btn" href="mailto:michal.piesiewicz@gmail.com">EMAIL ME</a>
    </div>

  </div>

  <footer>
    <a class="footer-link" href="https://www.linkedin.com/in/michal-piesiewicz/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/mpiesiewicz">GitHub</a>
    <br>
    <br>
    <p>I agree to the processing of personal data provided in this document for realising the recruitment process pursuant to the Personal Data Protection Act of 10 May 2018 (Journal of Laws 2018, item 1000) and in agreement with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation).</p>
    <br>
    <p class='copyrights'>© 2022 Michał Piesiewicz.</p>
    <br>
    <a class="credits" href="https://www.flaticon.com/free-icons/project-management" title="precision icons">project-management, </a>
    <a class="credits" href="https://www.flaticon.com/free-icons/user-experience" title="agreement icons">user-experience and</a>
    <a class="credits" href="https://www.flaticon.com/free-icons/listen-actively" title="efficiency icons">listen-actively </a>
    <a class="credits" href="https://www.flaticon.com/authors/bsd" title="efficiency icons">icons created by bsd - Flaticon.com</a>

  </footer>

</body>
</html>
